Flask-Caching
Pillow
Sphinx
bcrypt
black
eventlet
flake8
flake8-absolute-import
flake8-bugbear
flake8-builtins
flake8-rst-docstrings
flake8-use-fstring
flask
flask-socketio==4.3.2
flask_login
gunicorn
isort
jedi
matplotlib
mock
neovim
openpyxl
pep8-naming
pymongo
pypandoc
pytest-cov
pytest-mongodb
pytest-xdist
python-slugify
scipy
sphinx-rtd-theme
sympy==1.6.2
