Flask-Caching
Pillow
Sphinx
bcrypt
black
flake8
flake8-absolute-import
flake8-bugbear
flake8-builtins
flake8-rst-docstrings
flake8-use-fstring
flask
flask_login
gunicorn
isort
jedi
matplotlib
mock
neovim
pep8-naming
pymongo
pypandoc
pytest-cov
pytest-mongodb
pytest-xdist
python-slugify
sphinx-rtd-theme
sympy==1.6.2
