name: Deploy to Dokku
on:
  push:
    branches:
      - master
  jobs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - id: deploy
        name: Deploy to dokku
        uses: idoberko2/dokku-deploy-github-action@v1
        with:
          app-name: 'mathsnuggets'
          dokku-host: 'mathsnuggets.co.uk'
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
